
*{
box-sizing: border-box;


}
body{
font-family: "Calibri Light","Calibri","Tahoma",serif;
    background-color: #fefbef;
}
a{
 text-decoration: none;   
}

header{
max-width: 1550px;
margin: 0 auto;
padding: 60px 100px 40px;
display: flex;
align-items: center;
justify-content: space-between;
background-color: #14659e;
}

nav{
display: flex;
align-items: center;
gap: 35px;
}
nav a{

color:white;
font-size: 24px;
}
button{
background: #ff9116;
color: white;
border: none;
text-transform: uppercase;
padding: 10px 60px;
font-size: 20px;
cursor: pointer;
border-radius: 4px;
}
button:hover{
   background: #ffb516;
   transition: 0.5s;
  transform: scale(0.95);
}
.lang{
display: flex;
align-items: center;
gap: 3px;
cursor: pointer;
}
.logo:hover{
   transform: scale(0.95);
   transition: 0.5s;
}
.burger-btn{
background: transparent;
padding: 0;
display: none;
}
.hero{
height: 981px;
background: url(../images/hero1.png);
background-size: cover;
display: flex;
align-items: end;
justify-content: center;
padding-bottom: 140px;
gap: 10px;
.hero:hover{
cursor: pointer;

}
}
.hero-choose{
   border-radius: 4px;
padding: 24px 20px;
width: 235px;
height: 100px;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
}


.hero-choose:nth-child(1){
background: #3286c2;
}
.hero-choose:nth-child(1):hover{
   background: #ffb516;
   transition: 0.5s;
}


.hero-choose:nth-child(2){
background: #14659e;
}
.hero-choose:nth-child(2):hover{
background: #ffb516;
   transition: 0.5s;}
.hero-choose:nth-child(3){
background: #0e4c77;
}
.hero-choose:nth-child(3):hover{
background: #ffb516;
   transition: 0.5s;
}

.hero-choose h4{
line-height: 160%;
}
.hero-choose select{
background: transparent;
border: none;
color: white;
font-size: 20px;
font-weight: 600;
}
.hero button{
height: 100px;
padding: 20px;

}
.about-us{
margin: 100px auto;
max-width: 1080px;
padding: 0px 30px;
line-height: 150%;
text-align: center;
}
h2{
font-size: 64px;
color: #ff9116;
font-weight: 800;
line-height: 150%;
text-align: center;
}
.about-us p{
   margin: 30px 0px;
}

.our-events{
   text-align: center;
   padding: 30px;
}



.cards{
display: grid;
grid-template-columns: repeat(3, 1fr);
max-width: 1300px;
margin: 25px auto;
gap: 20px;
}
.card{
   position: relative;
}

.card img{
width: 100%;
height: 360px;
object-fit: cover;
}
.card-body{
padding: 40px;
text-align: center;
display: flex;
flex-direction: column;
gap: 10px;
background-color: white;
height: 450px;
line-height: 1.5;
}
.button3{
   margin-top: 120px;
}
.button2{
margin-top: 75px;


}
.card-body h4{
font-size: 30px;
font-weight: 500;
text-transform: none;
}
.contact-us{
   background: white;
max-width: 940px;
margin: 100px auto;
padding: 30px;

}
.contact-form{

display: flex;
flex-direction: column;
gap: 60px;
}
.contact-form-fields{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 60px;
margin-top: 100px;
}

.contact-form-fields input{
border: none;
border-bottom: 1px solid black;
padding: 10px 10px;
outline: none;
}
.contact-form textarea{
resize: none;
height: 100px;
border: 1px solid black;
outline: none;
}
.contact-form button{
width: 235px;
display: flex;
margin: 0 auto;
}

footer{
background: #14659e;
padding: 60px;
}
.footer-body{
max-width: 1160px;
margin: 0 auto;
color: white;

}
.footer-body h3{
 
text-align: center;
}
.footer-body-links{
display: flex;
justify-content: space-between;
padding: 65px 0px 30px;}


.footer-body-links ul{
display: flex;
flex-direction: column;
gap: 15px;
}


.footer-body-links a{
font-weight: 100;
color: white;


}
.footer-body-links h4{
margin-bottom: 15px;
font-family: "Lora", serif;
font-weight: 500;
font-size: 24px;
}

.footer-social-media{
display: flex;
align-items: center;
gap: 15px;
margin: 20px 0px;
}
.footer-social-media h4{
   margin-bottom: 15px;
font-family: "Lora", serif;
font-weight: 500;
font-size: 24px;
}
.footer-policy{
display: flex;
align-items: center;
gap: 15px;
border-top: 2px solid white;
padding: 15px 0px 32px;
}
.footer-policy a{
   color: white;
   font-weight: 100;
}
.rights{
font-weight: 100;
opacity: 0.5;
}



@media screen and (max-width: 992px) {
 .burger-btn{
display: block;

 }  
 nav{
    display: none;
 }
.cards{
grid-template-columns: repeat(1, 1fr);

}
 .card img{
height: 60vw;

 }


}
@media screen and (max-width: 768px) {
   .hero{
      flex-direction: column;
      align-items: center;
      justify-content: end;
   }
   .hero button, 
   .hero-choose{
      width: max(70%, 300px);
   }
.contact-form-fields{
grid-template-columns: repeat(1, 1fr);
gap: 30px;
margin-top: 40px;


}
.contact-form{
   gap: 30px;

}

}

@media screen and (max-width: 550px) {
  .footer-body-links, .footer-policy, .footer-social-media, .rights{
   display: none;
  } 
.footer-body h3{
font-size: 32px;

}

.card-body{
   height: 550px;
}


}


@media screen and (max-width: 450px) {
header{
   padding: 30px;
}
.logo{
font-size: 20px;

}

   h2{
      font-size: 20px;
   }
.about-us p{
font-size: 14px;
margin: 14px 0px;
color: #303030;
}
.card-date{
width: 70px;
height: 70px;
font-size: 16px;
}
.card-date-day{
font-size: 20px;

}

}